.container{
    margin-top: 50px;
}

.go-back{
    margin-bottom: 20px;
}

.left-side{
    margin-right: 50px;
    padding: 40px;
}

.vacancy-company-name{
    margin: 0 0 20px 0;
}

.vacancy-description,
.vacancy-requirements,
.vacancy-responsibilities,
.vacancy-benefits {
    margin-bottom: 20px;
}

.application{
    border: 1px solid white;
    height: 325px;
    padding: 20px;
    position: relative;
    margin-top: 70px;
}

.apply {
    position: absolute;
    bottom: 10px;
}

.apply-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-right: 5px;
}

.apply-button:hover {
    background-color: #0056b3;
}

.similar-vacancies{
    height: 500px;
    border: 1px solid white;
    margin-top: 50px;
}
