{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
    <title>Jobseeker</title>
    {% block links %}
    {% endblock %}
</head>
<body>
    <div id="page-container">
        <header>
            <a class="header-link" href="{% url 'home' %}"><h1>Jobseeker</h1></a>
            <nav>
                <ul>
                    <li><a class="header-link" href="{% url 'user-chats' user_id=user.pk %}">Чаты</a></li>
                    <li><a class="header-link" href="{% url 'vacancies' %}">Вакансии</a></li>

                    {% if user.is_authenticated %}
                        <li class="user-profile">
                        {% if user.hr %}
                            <a class="header-link" href="{% url 'hr-detail' user.pk %}">
                                <span>{{ user.hr.first_name }}</span>
                                <span>{{ user.hr.last_name }}</span>
                            </a>

                            <div class="profile-picture">
                                <a class="header-link" href="{% url 'hr-detail' user.pk %}">
                                    <img src="{{ user.hr.profile_picture.url }}" alt="Profile Picture">
                                </a>
                            </div>
                        {% else %}
                            <div class="user-details">
                                <a class="header-link" href="{% url 'user-detail' user.pk %}">
                                    <span>{{ user.userprofile.first_name }}</span>
                                    <span>{{ user.userprofile.last_name }}</span>
                                </a>
                            </div>

                            <div class="profile-picture">
                                <a class="header-link" href="{% url 'user-detail' user.pk %}">
                                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
                                </a>
                            </div>
                        {% endif %}
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Гость</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div id="content-wrap">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}

                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Контактная информация</p>
                        <ul>
                            <li>Телефон: +7 (XXX) XXX-XX-XX</li>
                            <li>Email: example@example.com</li>
                            <li>Адрес: ул. Примерная, д. 123, г. Примерный</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>Ссылки</p>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let alertCloseButtons = document.querySelectorAll('.alert .close');
            alertCloseButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    let alert = this.closest('.alert');
                    alert.parentNode.removeChild(alert);
                });
            });
        });
    </script>
</body>
</html>