{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
    <title>Jobseeker</title>
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><h1>Jobseeker</h1></a>
        <nav>
            <ul>
                <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Профиль</a></li>
            </ul>
        </nav>
    </header>
{% block body %}
{% endblock %}
</body>
</html>