{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/vacancy_detail.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 left-side">
                <div class="go-back"><h6><a href="{% url 'vacancies' %}">Back to vacancies</a></h6></div>

                <h3 class="vacancy-name">{{ vacancy.title }}</h3>
                <h6 class="vacancy-company-name">{{ vacancy.company.name }}</h6>

                <div class="vacancy-description">
                    <b>About vacancy:</b><br>
                    {{ vacancy.description }}
                </div>

                <div class="vacancy-requirements">
                    <b>Requirements:</b><br>
                    {{ vacancy.requirements }}
                </div>

                <div class="vacancy-responsibilities">
                    <b>Responsibilities:</b><br>
                    {{ vacancy.responsibilities }}
                </div>

                <div class="vacancy-benefits">
                    <b>Benefits:</b><br>
                    {{ vacancy.benefits }}
                </div>
            </div>

            <div class="col-lg-4 right-side">
                <div class="application">
                    <div class="required-experience">
                        <b>Требуемый опыт:</b><br>
                        От {{ vacancy.required_experience_range.lower }} до {{ vacancy.required_experience_range.upper }}
                        {% if vacancy.required_experience_range.upper < 2 %}
                            года
                        {% elif vacancy.required_experience_range.upper >= 2 %}
                            лет
                        {% endif %}
                    </div>

                    <hr style="border-color: grey">

                    <div class="middle-part">
                        <p>Страна: {{ vacancy.country }}</p>
                        <p>Уровень английского: {{ vacancy.english_level }}</p>
                        <p>Занятость: {{ vacancy.work_status }}</p>
                        <p>Время публикации: {{ vacancy.created_at }}</p>
                    </div>

                    <hr style="border-color: grey">

                    <div class="apply">
                        <button class="apply-button">Откликнуться</button>  viewers  replies
                    </div>
                </div>

                <div class="similar-vacancies">
                <h5 style="margin: 10px 0 10px 10px">Другие вакансии этой компании:</h5>
                    {% for vacancy in similar_vacancies %}
                        <div class="similar-vacancy">
                            <a href="{% url 'vacancy-detail' pk=vacancy.pk %}">{{ vacancy.title }}</a>
                            <span style="color: green">{{ vacancy.salary_range.lower }}$ - {{ vacancy.salary_range.upper }}$</span>
                            <br>
                            <span>{{ vacancy.description|truncatechars:50 }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
