{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/vacancies.css' %}">
{% endblock %}

{% block body %}
    <form action="{% url 'vacancies-search' %}" method="POST">
    {% csrf_token %}
        <input type="text" name="search-query" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>

    {% for vacancy in vacancies %}
        <div class = "vacancy">
            <a href="{% url 'vacancy-detail' vacancy.pk %}" class="vacancy-link">{{ vacancy.title }} at {{ vacancy.company__name }}<br></a>
            {{ vacancy.salary_range.lower }}$ - {{ vacancy.salary_range.upper }}$<br>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
