{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'users/registration.css' %}">
{% endblock %}

{% block body %}
<div class="shadow-lg p-4 mb-5 bg-body rounded" style="margin: 50px;">
        <h3>Регистрация</h3>

        {% if registration_form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Ошибка при попытке регистрации, попробуйте ещё раз.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}

        <form action="{% url 'registration' %}" method="POST">
            {% csrf_token %}
            {{ registration_form.as_p }}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
